<div>

  <h2>MY ENTRIES</h2>
  <div class="clear">&nbsp;</div>
  <div class="filter_row">
    <div class="row">
      <div class="col-md-8">
        <h4>Live Contest</h4>
      </div>

      <div class="col-md-4"><span class="green"><a href="#">Join More Contest »</a></span></div>

    </div>
  </div>

  <div class="live-contests-dest"></div>

  <div class="filter_row">
    <div class="row">
      <div class="col-md-4">
        <h4>Upcoming Contest</h4>
      </div>
      <div class="col-md-8">
        <span class="green"><a href="#">Join More Contest »</a></span>
        <span class="green"><%= link_to 'View my Lineups', lineups_path %></span>
      </div>
    </div>
  </div>

  <div class="upcoming-contests-dest"></div>

  <div class="filter_row">
    <div class="row">
      <div class="col-md-4">
        <h4 class="line-height34">Completed Contest</h4>
      </div>
      <div class="col-md-8">
        <ul>
          <li>
            <h4>Buy In</h4>
          </li>
          <li>
            <div class="styled-select">
              <select>
                <option>ALL</option>
                <option>ALL TIME</option>
              </select>
            </div>
          <li>
            <h4>Show Contest from</h4>
          </li>
          <li class="styled-select">
            <select>
              <option>ALL</option>
              <option>ALL TIME</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="completed-contests-dest"></div>

</div>

<script>
  var fantasyEntriesData = <%= @data.to_json.html_safe %>;
</script>

<%= Rails.application.assets.find_asset('backbone/templates/live-contests-template.html').to_s.html_safe %>
<%= Rails.application.assets.find_asset('backbone/templates/upcoming-contests-template.html').to_s.html_safe %>
<%= Rails.application.assets.find_asset('backbone/templates/completed-contests-template.html').to_s.html_safe %>