<div class="capitalcontent gamecenter">
<!--Login Section-->

<ul class="list-inline title">
  <li>
    <h2>DAILY NBA FREEROLL </h2>
  </li>
  <li><span>10x $300k nfl bomb entries</span></li>
  <li><a href="#">LIVE IN PLAY</a></li>
  <li><span>Started 7:00pm ET 12/18</span></li>
</ul>
<div class="clearfix"></div>
<!--Tab Section-->
<div class="light_grey freerollbox">
  <ul class="list-inline">
    <li>
      <h4><strong>Multiplayer League</strong></h4>
    </li>
    <li>
      <h4>6325 Entries</h4>
    </li>
    <li>

      <h4>&nbsp;&nbsp;<strong>Entry:</strong>&nbsp;$0</h4>
    </li>
    <li>&nbsp;&nbsp;<a href="#"><span class="green">$0.00 Prize Pool</span></a></li>
  </ul>
</div>
<!--/Tab Section-->

<div class="clearfix">&nbsp;</div>
<!--Status Table-->
<ul class="list-inline freeroll_status">
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="status">
      <tbody>
      <tr class="white">
        <td>UTA</td>
        <td>86</td>
      </tr>
      <tr>
        <td>ORL</td>
        <td>82</td>
      </tr>
      <tr>
        <td colspan="2"><span>FINAL</span></td>
      </tr>
      </tbody>
    </table>
  </li>
</ul>

<!--/.Status Table-->

<!--List Area-->
<table class="freeroll table-responsive">
  <tbody>
  <tr>
    <th>POS</th>
    <th>&nbsp;</th>
    <th>USER</th>
    <th>QUARTERS REMAINING</th>
    <th>SCORE</th>
    <th>PRIZES</th>
  </tr>
  <tr>
    <td>1</td>
    <td><%= image_tag "user.png", class: "user"%></td>
    <td><span class="green">julius100</span></td>
    <td>5
      <progress value="10" max="100"></progress>
    </td>
    <td>335.2</td>
    <td>$300K NFL Bomb Entry</td>
  </tr>
  <tr>
    <td>2</td>
    <td><%= image_tag "user.png", class: "user"%></td>
    <td><span class="green">julius100</span></td>
    <td>5
      <progress value="20" max="100"></progress>
    </td>
    <td>335.2</td>
    <td>$300K NFL Bomb Entry</td>
  </tr>
  <tr>
    <td>3</td>
    <td><%= image_tag "user.png", class: "user"%></td>
    <td><span class="green">julius100</span></td>
    <td>5
      <progress value="50" max="100"></progress>
    </td>
    <td>335.2</td>
    <td>$300K NFL Bomb Entry</td>
  </tr>
  </tbody>
</table>
<div class="clearfix"></div>
<div class="users-next green pull-right">NEXT »</div>
<div class="clearfix"></div>
<!--/List Area-->

<div class="col-md-5 scorecard pull-left">
  <div class="col-md-2 panelOne"><strong class="panelStrong">POS</strong>

    <h2 class="panelHeading">831</h2>
  </div>
  <div class="col-md-8 panelTwo">
    <p class="user"><%= image_tag "user.png" %> <span class="green">julius100</span></p>

    <div class="clearfix"></div>
    <p class="quarters"> 6 Quarters Remaining
      <progress value="20" max="100"></progress>
    </p>
  </div>
  <div class="col-md-2 panelThree"><strong class="panelStrong">SCORE</strong>

    <h2 class="panelHeading">270.2</h2>
  </div>
  <div class="clearfix"></div>
  <!--Score Card-->
  <div class="scorecard2">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">PG</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1>57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2 white">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">PG</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1 class="greeScore">57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">SG</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1>57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2 white">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">SG</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1 class="greeScore">57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">SF</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1>57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2 white">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">SF</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1 class="greeScore">57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">PF</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1>57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2 white">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">PF</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1 class="greeScore">57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">C</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1>57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2 white">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">UTL</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1 class="greeScore">57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <!--End Score Card--> 
</div>
<div class="col-md-5 scorecard pull-right">
  <div class="col-md-2 panelOne"><strong class="panelStrong">POS</strong>

    <h2 class="panelHeading">831</h2>
  </div>
  <div class="col-md-8 panelTwo">
    <p class="user"><%= image_tag "user.png" %> <span class="green">julius100</span></p>

    <div class="clearfix"></div>
    <p class="quarters"> 6 Quarters Remaining
      <progress value="20" max="100"></progress>
    </p>
  </div>
  <div class="col-md-2 panelThree">
    <strong class="panelStrong">SCORE</strong>
    <h2 class="panelHeading">270.2</h2>
  </div>
  <div class="clearfix"></div>
  <!--Score Card-->
  <div class="scorecard2 white">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">PG</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1 class="greeScore">57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">PG</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1>57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">SG</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1>57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2 white">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">SG</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1 class="greeScore">57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">SF</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1>57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2 white">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">SF</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1 class="greeScore">57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">PF</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1>57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2 white">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">PF</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1 class="greeScore">57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">C</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1>57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <div class="scorecard2 white">
    <table class="scorecardTable" cellpadding="10" cellspacing="10">
      <tbody>
      <tr>
        <td><h1 class="role">UTL</h1></td>
        <td><strong>Damian Lillard</strong>

          <p class="por"><strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL<br>
            36 P, 6 R, 6 A, 3 S, 1 B</p>
        </td>
        <td>
          $79 <br>
          SALARY
        </td>
        <td>27.5% <br>
          OWNED
        </td>
        <td><h1 class="greeScore">57.2</h1></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
</div>

</div>