<tr class="contest <%= contest.sport.downcase %>" id='<%=dom_id(contest)%>'>
  <td class='contest-type'><%= contest.contest_type %></td>
  <td class='sport-name'>
    <%= contest.sport %>
    <%= image_tag "sports/#{contest.sport.downcase}.png" %>
  </td>
  <td><%= countdown_tag contest.contest_start %></td>
  <td class='entry-fee' data-value=<%= contest.entry_fee %>>
    <%= contest_entry_fee contest %>
   </td>
  <td data-value=<%= contest.prize %>>
    <%= number_to_currency contest.prize %>
  </td>
  <td><%= contest.lineups.size %></td>
  <td>
    <%= link_to 'enter', new_contest_lineup_path(contest), class: 'enter-contest'%>
  </td>
</tr>
